<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Welcome to you WebApp</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <header>
  <div class="panel panel-default">
    <div class="panel-heading"><h1>Python Challenge</h1></div>
  </div>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </header>
  {% block content %}
  <body>
  <div class="container">
    <div>
      <h1> Welcome</h1> <br>
      <div class="alert alert-success" role="alert">Running application. These are the results</div>
    </div>
    <div>
        {% for table in tables %}
          {{ table|safe }}
        {% endfor %}

      <center><div class="container">
        <h3> Times</h3>
        <div class="row">
          <div class="col align-self-start">
            <h6>Total Time: </h6>
            {{statistics['total']}} s
          </div>
          <div class="col align-self-center">
            <h6>Mean Time: </h6>
            {{statistics['mean']}} s
          </div>
          <div class="col align-self-end">
            <h6>Min Time: </h6>
            {{statistics['min']}} s
          </div>
          <div class="col align-self-end">
            <h6>Max Time: </h6>
            {{statistics['max']}} s
          </div>
      </div>
      </div>

    <div class="jumbotron">
      <a class="btn btn-primary btn-lg" href="/">Recharge</a>
    </div></center>

    </div>
  </div>
  </body>
{% endblock %}
</html>